<div class="container">
  <div class="row">
    <div  class="d-flex justify-content-between p-2">
      <pagination [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" (click)="getPage()" [(ngModel)]="currentPage"
        [rotate]=true [maxSize]="10" [directionLinks]="true" [boundaryLinks]="true"></pagination>
        <select  class="custom-select" style="width: auto" [(ngModel)]="itemsPerPage">
          <option [value]="1000">1000 items per page</option>
          <option [value]="2000">2000 items per page</option>
          <option [value]="3000">3000 items per page</option>
        </select>
        <div class="example-button-row">
          <button  class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
        </div>
    </div>
    <div>
      
    </div>
  </div>
</div>
<div class="container">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr> 
        <th>RollNo</th>
        <th>Name</th>
         <th >Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empRecords">
        <td>{{emp.RollNo}}</td>
        <td>{{emp.Name}}</td>
        <td>{{emp.Age}}</td>
      </tr>
    </tbody>
  </table>
</div>